<!DOCTYPE html>
<html data-commit="{{ COMMIT }}" data-version="{{ VERSION }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Meeting Cost</title>

    <link rel="icon" href="./icon.svg" />

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Lato&display=swap&subset=latin-ext" rel="stylesheet">
  </head>
  <body data-environment="{{ NODE_ENV }}">
    <header>
      <a href="#"><icon src="logo.svg" alt="Meeting Cost"></icon></a>
      <div class="release">
        {{ VERSION }}
      </div>
    </header>

    <div id="root"></div>

    <a class="source-link"
      href="https://gitlab.com/javallone/meeting-cost"
      target="_blank"
      rel="external noopener noreferrer">
      <icon src="../node_modules/feather-icons/dist/icons/gitlab.svg" alt=""></icon><span>Source on GitLab</span>
    </a>

    <script src="./main.js"></script>
  </body>
</html>
