.form {
  --input-padding: 0.2em;
  --border-width: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--input-padding);
  border: var(--border-width) solid rgb(var(--color-green-2));
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 0.8em;
  margin: calc(-1 * var(--input-padding) - var(--border-width)) 0;
}

.form input, .placeholder {
  border: 0 none;
  box-shadow: none;
  padding: var(--input-padding);
  font: inherit;
  background: none;
}

.form input:focus {
  outline: none;
}

.form button {
  margin: 0 0 0 var(--input-padding);
}

.form button:not([type="submit"]) {
  background: rgb(var(--color-red));
  color: #fff;
}

.placeholder {
  visibility: hidden;
  white-space: pre;
  position: absolute;
  pointer-events: none;
  min-width: 5em;
  max-width: calc(
    100vw -
    2 * var(--icon-button-size) -
    4 * var(--input-padding) -
    2 * var(--body-margin));
}
