.meetingLink {
  background-color: rgb(var(--color-green-1));
  border-radius: 0.25em;
  padding: 1em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.meetingLink > * {
  white-space: nowrap;
}
